<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f5d21fb6-85d8-416c-a79e-9a5eae79a638/resourcegroups/Attendencyapi/providers/Microsoft.Web/sites/AttendenceApi20230315115046</ResourceId>
    <ResourceGroup>Attendencyapi</ResourceGroup>
    <ApiResourceId>/subscriptions/f5d21fb6-85d8-416c-a79e-9a5eae79a638/resourceGroups/Attendencyapi/providers/Microsoft.ApiManagement/service/AttendenceApiapi/apis/AttendenceApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://attendenceapi20230315115046.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>668fc3a3-a2b4-4312-97a4-2a200bef4a78</ProjectGuid>
    <MSDeployServiceURL>attendenceapi20230315115046.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AttendenceApi20230315115046</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AttendenceApi20230315115046</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>